html { scroll-behavior: smooth; }

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header-wrapper{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(15deg, #2d3436 0%, #000000 74%);
    background-size: 400% 400%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: relative;
    animation: backgroundTransition 3s ease-in-out infinite;
}

h1{
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff;
}

h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: lighter;
    color: #fff;
    min-width: 3rem;
    white-space: nowrap;
    text-align: center;
}

.social-media{
    margin-top: 1rem;
    display: flex;
}


.social-media a{
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: lighter;
    padding: 1rem 4rem;
    border: 3px solid #fff;
    min-width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s cubic-bezier(0.55, 0.025, 0.675, 0.97);
}

.social-media a:hover{
    color: #2e1c2b;
    background: #fff;
}

@keyframes backgroundTransition{
    0%{ background-position: 0% 80%; }
    50%{ background-position: 90% 100%; }
    100%{ background-position: 0% 80%; }
}

.checkbox-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 999;
    transition: 0.4s ease-in-out 0;
}

.checkbox::before{
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    top: 16px;
    border-radius: 60px;
    display: block;
    border: 1px solid #fff;
    opacity: 0;
    transition: 0.3s;
}

.checkbox .trace{
    width: 50px;
    height: 2px;
    background-color: white;
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}

.checkbox .trace:nth-child(1){
    top: 26px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(2){
    top: 46px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(3){
    top: 66px;
    transform: rotate(0);
}

#toggle{
    display: none;
}

#toggle:checked + .checkbox::before{
    width: 70px;
    height: 70px;
    top: 12px;
    border-color: #2d3436;
    opacity: 1;
}

#toggle:checked + .checkbox .trace{
    background: #2d3436;
}

#toggle:checked + .checkbox .trace:nth-child(1){
    transform: rotate(45deg);
    top: 47px;
}

#toggle:checked + .checkbox .trace:nth-child(2){
    transform: translateX(-100px);
    visibility: hidden;
    opacity: 0;
    width: 30px;
}

#toggle:checked + .checkbox .trace:nth-child(3){
    transform: rotate(-45deg);
    top: 47px;
}

.menu{
    position: absolute;
    top: 27px;
    right: 30px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: white;
    box-shadow: 0px 0px 0px 0px white;
    z-index: -1;
    transition: 0.4s ease-in-out;
}

.menu-items{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    color: #2d3436;
    opacity: 0;
    transform: translateX(-300px);
    transition: 0.4s ease-in-out;
}

.menu-items ul{ list-style-type: none; }

.menu-items ul li a{
    margin: 10px 0px;
    color: #2d3436;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 40px;
    z-index: 5;
}

#toggle:checked + .menu{ background-color: white; }

#toggle:checked ~ .menu{
    z-index: 1;
    box-shadow: 0px 0px 0px 100vmax white;
}

#toggle:checked ~ .menu .menu-items{
    opacity: 1;
    transform: translateX(0px);
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-container{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card{
    width: 280px;
    height: 280px;
    margin: 3rem 10px 0 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    filter: grayscale(0.4);
    cursor: pointer;
    background: rgba(0,0,0,0.6);
    box-shadow: 0 20px 50px rgba(0,0,0,0.3);
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-50px);
    filter: unset;
}

.card:hover .card-description{
    transform: translateY(100px);
}

.card:nth-child(1) .card-text{ background-color: #e07768; }
.card:nth-child(2) .card-text{ background-color: #6eadd4; }
.card:nth-child(3) .card-text{ background-color: #4aada9; }


.card-text{
    display: flex;
    letter-spacing: 4px;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: lighter;
    transition: 0.3s;
    line-height: 25px;
    width: 100%;
    height: 100%;
    z-index: 10;
}

 .card-text h1{
    text-align: center;
    color: #fff;
    font-size: 20px;
}

.card-description{
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.7);
    width: calc(100% - 20px);
    height: 100px;
    position: absolute;
    bottom: 0px;
    z-index: 0;
    box-shadow: 0 10px 50px rgba(0,0,0,0.3);
    padding: 0px 10px;
    transition: 0.3s ease-in-out;
}

.card-description::before{
    content: '';
    width: 0px;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    opacity: 0;
    transition: 0.3s;
    z-index: -1;
}

.card-description:hover::before{
    height: 100%;
    width: 100%;
    opacity: 1;
    border-radius: 0px;
}

.card-description a{
    text-decoration: none;
    color: #2d3436;
    text-transform: uppercase;
}

.card-wrapper h2{
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.3s;
}

.footer{
    height: 100px;
    width: 100%;
    color: white;
    background-color: #2d3436;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 7px 20px -7px rgba(0,0,0,0.6);
}

.container-header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-header h1{
    text-align: center;
    color: #2d3436;
    z-index: 5;
    padding: 0 20px;
}

.container-header span{
    display: block;
    position: absolute;
    border-top: 1px solid #2d3436;
    width: 80%;
}

.container-header .card-text{
    width: 90%;
    display: flex;
    align-items: center;
    text-align: justify;
    text-indent: 50px;
    line-height: 40px;
    color: #2d3436;
}

.container-header img{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    border-radius: 140px;
    align-items: center;
    justify-content: center;
    padding: 25px;
    background-color: white;
    z-index: 10;
}

#top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: block;
    height: 80px;
    width: 80px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    background-color: rgba(45, 52, 54, 0.6);
    z-index: 100;
    display: none;
    text-align: center;
    line-height: 75px;
    color: white;
    text-decoration: none;
    font-size: 30px;
}

#top::before{
    content: "\f077";
    font-family: FontAwesome;
}

@media(max-width: 800px){
    .social-media{
        display: flex;
        flex-direction: column;
    }
    .container{
        margin-top: 0px;
    }
    .card-container{
        flex-direction: column;
    }
    .container .card-container:nth-child(1),
    .container .card-container:nth-child(3){
        flex-direction: column-reverse;
    }
    .card{
        height: 250px;
        width: 250px;
    }
    .card-text{
        width: 90%;
        margin-top: 2rem;
        text-align: center;
    }
}

.light {
    position: absolute;
    width: 0px;
    opacity: .75;
    background-color: white;
    box-shadow: #e9f1f1 0px 0px 20px 2px;
    opacity: 0;
    top: 100vh;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}

.x1{
    animation: floatUp 4s infinite linear;
    transform: scale(1.0);
  }
  
  .x2{
    animation: floatUp 7s infinite linear;
    transform: scale(1.6);
    left: 15%;
  }
  
  .x3{
    animation: floatUp 2.5s infinite linear;
    transform: scale(.5);
    left: -15%;
  }
  
  .x4{
    animation: floatUp 4.5s infinite linear;
    transform: scale(1.2);
    left: -34%;
  }
  
  .x5{
    animation: floatUp 8s infinite linear;
    transform: scale(2.2);
    left: -57%;
  }
  
  .x6{
    animation: floatUp 3s infinite linear;
    transform: scale(.8);
    left: -81%;
  }
  
  .x7{
    animation: floatUp 5.3s infinite linear;
    transform: scale(3.2);
    left: 37%;
  }
  
  .x8{
    animation: floatUp 4.7s infinite linear;
    transform: scale(1.7);
    left: 62%;
  }
  
  .x9{
    animation: floatUp 4.1s infinite linear;
    transform: scale(0.9);
    left: 85%;
  }

  @keyframes floatUp{
    0% {top: 100vh; opacity: 0;}
    25% {opacity: 1;}
    50% {top: 0vh; opacity: .8;}
    75% {opacity: 1;}
    100% {top: -100vh; opacity: 0;}
  }